// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
	background-color:white;
	padding:8px;
	border-bottom: 1px solid grey;
	
}


//for all tweets
.tweets{
	border-top: 1 px solid lightgrey;
	
}


.inline{
	display: inline-block;
}


//for individual tweet
.tweet{
	background-color:white;
	border: 1px solid lightgrey;
	padding:8px;
}


.time{
	color:darkgrey;
}

.tweetImage{
	width: 40px;
}

.content{
	padding-left: 8px;
	width: 90%;
}

.tweetContent{
	margin: 8px 0px;
	font-color: #1b95e0;
}